@import "variables";
@import "mixins";

* {
  @include overal;
}

body {
  background: $bgColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  background: $primaryColor;

  img {
    width: 40px;
    border-radius: 50px;
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 150;

    span {
      //ertefa bedim va kenar ham ghara migiran chon inline block ha nemyran khat badi
      display: inline-block;
      height: 3px;
      width: 20px;
      margin: 2px;
      border-radius: 3px;
      background: $secondaryColor;
      cursor: pointer;
    }
  }

}

.navbar {
  display: flex;
  align-items: center;
  z-index: 10;
}

.navbar__item {
  display: flex;
  list-style: none;
  margin-right: 50px;

  a {
    text-decoration: none;
    padding: 8px;
    transition: all .3s ease-in;
    @include textStyle(1rem, bold, $secondaryColor);

    &:hover {
      color: $textColor;
    }
  }
}

.main {
  display: flex;
  margin: 2rem 3rem;

  aside {
    flex-direction: column;
    width: 25%;
    margin-right: 25px;
    @include boxStyle;

    @include bodyStyle;

    div {
      background: $primaryColor;
      width: 100%;
      height: 110px;
      margin: 20px 10px;
      line-height: 110px;
      text-align: center;
      @include boxStyle;
      @include textStyle(1rem, bold, $secondaryColor);
    }

  }

  main {
    width: 75%;
    @include bodyStyle;
    @include boxStyle;
    flex-direction: column;

    img {
      width: 200px;
      @include boxStyle;
    }

    h2 {
      @include textStyle(4rem, bold, $primaryColor);
      margin: 2rem 0 3rem;
    }

    p {
      @include textStyle(2rem, bold, $textColor);
    }
  }
}


.cards {
  width: calc(100% - 6rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 5px;

}

.card {
  @include boxStyle;

  img {
    width: 100%;
  }

  .card-content {
    line-height: 1.5rem;
    padding: 15px;
    background: $secondaryColor;

  }

  p {
    margin: 10px 0;
    @include textStyle(1.1rem, 100, $textColor);
  }

  span {
    display: inline-block;
    //bekhater inke margin va .. bedahim
    margin: 10px 0;
    @include textStyle(0.9rem, bold, $primaryColor);
  }
}

footer {
  display: flex;
  padding: 2rem 3rem;
  background: $primaryColor;
  margin-top: 30px;

  .summary {
    width: 50%;

    p {
      text-align: justify;
      @include textStyle(1.2rem, 100, $secondaryColor)
    }
  }

  .links {
    padding: 0 5rem;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      @include textStyle(1.2rem, bold, $secondaryColor);
      &:hover{
        @include hover;
      }
      margin-bottom: 10px;
      display: inline-block;
      transition: all .15s ease-in;
    }
  }

}

@include media(M) {
  .header {

    .hamburger-menu {
      //aval header bad hamburger bekhater masel erth bari
      display: flex;
    }

  }
  .navbar__item {
    opacity: 0;
    right: -1000px;

  }

  .active {
    margin: 0;
    transition: all .3s linear;
    flex-direction: column;
    transform: translateX(0);
    background-color: #1565df;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;

    li {
      padding: 1.5rem;
    }

    a {
      color: $secondaryColor;
    }

  }
  .main {
    flex-direction: column-reverse;
    margin: 1rem;

    main {
      width: calc(100% - 2rem);
      height: 500px;
      margin-bottom: 20px;

      p {
        font-size: 1.3rem;
      }

    }
  }
  aside {
    width: calc(100% - 2rem);
    height: 600px;

  }
  .cards {
    grid-template-columns: repeat(1, 1fr);

  }
}

@include media(L) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

